<div class="row">

	<div class="span8">
		<div>
		{{ content }}
		</div>
		
		{% for post in site.posts limit 20 %}
		<div>
		<hr>
		
		<h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
		{{ post.content }}
		
		</div>
		{% endfor %}
		<hr>
		
		<div class="pagination">
			<ul>
				<li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">More>></a></li>
			</ul>
		</div>
	</div>

	<hr>

	<div class="span4">

		<h3>Latest posts</h3>	
		{% for post in site.posts limit: 20 %}
		<p>
		{{ post.date | date_to_string }} >> <a href="{{ post.url }}">{{ post.title }}</a>
		<p>
		{% endfor %}

		<a href="{{BASE_URL}}/archive.html">More>></a>

	</div>

</div>
